.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}
.label-primary,
.badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-success,
.badge-success {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}
.label-danger,
.badge-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #23c6c8;
  color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}
.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}

li.border-bottom {
	border-radius: 0px !important;
	border: none;
	border-bottom: 1px solid #ddd;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 1px;
}

/***********************************/
/* Chart */
g.row text {
	fill: black !important;
}
g.row {
  /*pointer-events: none;*/
}

#treatment-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
	font-size: 14px;
}
#treatment-year .dc-legend-item text {
	fill: #9A9A9A;
}

a.top_link {
	font-size:15px;
	color: #838383 !important;
	text-decoration: none;
	font-weight: 300;
	transition: all 0.2s ease 0s;
}
a.top_link:hover {
	color: #23C6C8 !important;
	font-weight: 500;
}
.top_block {
	width: 150px;
	height: 150px;
	float:left;
	display: inline-block;
	margin-right:5px;
	margin-bottom:5px;
	background-color: red;
	overflow: hidden;
}
.top_block img {
	height: 150px;
	width: 150px;
}
.top_block .box_type {
	color:#D3F1DB;
  font-size:20px;
}


rect text {
  color: black;
}

.option_selected .option_selected_container {
  background-color:#FCF8E3;
  padding:3px 8px;
  border:1px solid #FAEBCC;
  color: #8A6D3B;
  margin-bottom: 5px;
  white-space: nowrap;
  display:inline-block;
}

.option_selected .btn_remove_option {
  color: #8A6D3B;
}
.option_selected .btn_remove_option:hover {
  color: #A6A6A6;
}
