@charset "UTF-8";
/* CSS Document */

/*@font-face {
    font-family: 'Raleway';
    src: url('../../library/font/Raleway/Raleway-Regular.ttf');
}*/



/*.bxaf_page_left{
  width: 20rem;
  overflow-x: hidden;
}
@media(max-width:991px) {
  .bxaf_page_left{
    width: 0px;
    visibility: hidden;
  }
}*/
.bxaf_page_right_container, .bxaf_page_right {
  /*background-color: white;*/
}
#bxaf_page_right_container {
  width: calc(100% - 20rem) !important;
}
.row, form, .dataTables_wrapper {
  width: 100% !important;
}


.font-raleway{
	font-family: 'Raleway', sans-serif;
}
.font-sanspro-300{
	font-family: 'Sans Pro 300', sans-serif;
	font-weight:300 !important;
}
.font-sanspro-400{
	font-family: 'Sans Pro 400', sans-serif;
	font-weight:400 !important;
}
.font-sanspro-400i{
	font-family: 'Sans Pro 400i', sans-serif;
	font-weight:400 !important;
}
.font-sanspro-600{
	font-family: 'Sans Pro 600', sans-serif;
	font-weight:600 !important;
}
.font-sanspro-700{
	font-family: 'Sans Pro 700', sans-serif;
	font-weight:700 !important;
}

body {
	/*font-family: 'Sans Pro 400', sans-serif;*/
	font-family: Arial,Helvetica,sans-serif;
}


/*#navbar_top {
	border-radius: 0px;
}
.navbar-toggler {
	color: white;
}*/


.hidden {
  display: none;
}


.img-shadow {
	border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}


.m-t-sm {
	margin-top:0.5rem;
}
.p-t-sm {
	padding-top: 0.4rem;
}
.gray {
	color: #777777;
}
.red {
	color: red;
}

.yellow {
	color: #FF9E1C;
}

.green {
	color: #009966;
}

.blue_dark {
	color: #003B79;
}

.green_link {
	color: #009966;
	transition: all 0.3s ease 0s;
}
.green_link:hover{
	color: #006946;
}
.red_link {
	color: #FF0004;
	transition: all 0.3s ease 0s;
}
.red_link:hover{
	color: #940002;
}




.text-right {
	text-align:right;
}
.float-left {
	float:left;
	display:inline-block;
}
img.img-center{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.m-b-sm {
	margin-bottom:0.1rem;
}
.text-center {
	text-align: center;
}
.font_normal {
	font-size: 16px;
}

.border-none {
	border: none !important;
}

.shadow-border {
	border: 1px solid #ccc;
    box-shadow: 0 0.24rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.24rem 0.5rem 0 rgba(0, 0, 0, 0.19);
}



.mx-0 {
	margin-left: 0px;
	margin-right: 0px;
}
.mt-1 {
	margin-top: 15px;
}
.ml-3 {
  margin-left: 15px;
}
.m-r-sm {
	margin-right: 6px !important;
}
.m-r-1 {
	margin-right: 15px !important;
}
.m-b-0 {
	margin-bottom: 0px;
}
.mb-5 {
	margin-bottom: 45px;
}
.p-t-sm {
	padding-top: 5px;
}
.p-x-0 {
	padding-left: 0px;
	padding-right: 0px;
}
.p-t-0 {
	padding-top: 0px;
}
.p-t-1 {
	padding-top: 15px;
}
.p-t-2 {
	padding-top: 30px;
}
.p-t-3 {
	padding-top: 45px;
}
.p-l-0 {
  padding-left: 0px;
}
.p-r-1 {
	padding-right:10px;
}
.p-b-3 {
  padding-bottom: 45px;
}
.mb-3 {
	margin-bottom: 1em;
}

label {
	font-weight: normal;
}

.height-70 {
  height: 70px;
}
.height-100 {
  height: 100px;
}
.height-150 {
  height: 150px !important;
}
.height-200 {
  height: 200px !important;
}
.width-100 {
  width: 100px;
}
.width-200 {
  width: 200px;
}
.width-300 {
  width: 300px;
}
.width-400 {
  width: 400px;
}
.width-max-100 {
  max-width: 100px;
}
.width-max-400 {
  max-width: 400px;
}


/***************/

.modebar {
	background-color: #E8E8E8 !important;
	border: 1px solid #CCC;
	border-radius: 0.5rem;
	padding: 1rem !important;
}

.chat, .timeline {
    list-style: outside none none;
}
body {
    /*background-color: #f8f8f8;*/
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    background-color: #fff;
    min-height: 90vh;
    padding: 0 15px;
}
@media (min-width: 768px) {
#page-wrapper {
    border-left: 1px solid #e7e7e7;
    /*margin: 0 0 0 250px;*/
    padding: 0 30px;
    position: inherit;
}
}
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.flot-chart, .navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    min-height: 50px;
    padding: 15px;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    min-height: 0;
    padding: 3px 20px;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-alerts, .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks {
    min-width: 0;
    width: 310px;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .dropdown-user {
    left: auto;
    right: 0;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
    background-color: #eee;
}
.sidebar .arrow {
    float: right;
}
.sidebar .fa.arrow::before {
    content: "";
}
.sidebar .active > a > .fa.arrow::before {
    content: "";
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
    border-bottom: medium none !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media (min-width: 768px) {
.sidebar {
    margin-top: 51px;
    position: absolute;
    width: 250px;
    z-index: 1;
}
.navbar-top-links .dropdown-alerts, .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks {
    margin-left: auto;
}
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all 0.5s ease 0s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-danger.btn-outline:hover, .btn-info.btn-outline:hover, .btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-warning.btn-outline:hover {
    color: #fff;
}
.chat {
    margin: 0;
    padding: 0;
}
.chat li {
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body {
    margin-right: 60px;
}
.chat li .chat-body p {
    margin: 0;
}
.chat .glyphicon, .panel .slidedown .glyphicon {
    margin-right: 5px;
}
.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}
.login-panel {
    margin-top: 25%;
}
.flot-chart {
    height: 400px;
}
.flot-chart-content {
    height: 100%;
    width: 100%;
}
/*table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc_disabled {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}*/
table.dataTable thead .sorting_asc::after {
    content: "";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc::after {
    content: "";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting::after {
    color: rgba(50, 50, 50, 0.5);
    content: "";
    float: right;
    font-family: fontawesome;
}
.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
}
.btn-circle.btn-lg {
    border-radius: 25px;
    font-size: 18px;
    height: 50px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 50px;
}
.btn-circle.btn-xl {
    border-radius: 35px;
    font-size: 24px;
    height: 70px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 70px;
}
.show-grid [class^="col-"] {
    background-color: #eee !important;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}
.show-grid {
    margin: 15px 0;
}
.huge {
    font-size: 40px;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}
.timeline {
    padding: 20px 0;
    position: relative;
}
.timeline::before {
    background-color: #eee;
    bottom: 0;
    content: " ";
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 3px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li::after, .timeline > li::before {
    content: " ";
    display: table;
}
.timeline > li::after {
    clear: both;
}
.timeline > li > .timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
    float: left;
    padding: 20px;
    position: relative;
    width: 46%;
}
.timeline > li > .timeline-panel::before {
    border-color: transparent #ccc;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    content: " ";
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 26px;
}
.timeline > li > .timeline-panel::after {
    border-color: transparent #fff;
    border-style: solid;
    border-width: 14px 0 14px 14px;
    content: " ";
    display: inline-block;
    position: absolute;
    right: -14px;
    top: 27px;
}
.timeline > li > .timeline-badge {
    background-color: #999;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4em;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 50px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    color: inherit;
    margin-top: 0;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
ul.timeline::before {
    left: 40px;
}
ul.timeline > li > .timeline-panel {
    float: right;
    width: calc(10%);
}
ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
}
ul.timeline > li > .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
ul.timeline > li > .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
}


/* Enrichment */
li.enrichment_tab_left {
  margin-top: 0 !important;
  padding: 0 !important;
}
li.enrichment_tab_left.active {
  background-color: #EEEEEE;
  border-color: #DDDDDD;
}
li.enrichment_tab_left a {
  color: #77777A !important;
  padding-top:5px;
  padding-bottom:5px;
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1001;
  background-color: rgba(1,1,1,0.8);
  top: 0;
  color: #FFF;
  padding-top: 150px;
}
