.startHidden{
	display:none;	
}

.hint{
	color:#AAA;	
}

a:hover{
	text-decoration: none  !important;
}

a {
	text-decoration: none  !important;
}

.modal-dialog{
    overflow-y: initial !important;
}

.modal-dialog-wide{
    max-width:850px;
}

.modal-body-full-height{
    height: 800px;
    overflow-y: auto;
}

.modal-body-full-width{
    width: 800px;
    overflow-x: auto;
}

.tableHeaderToSort{
	cursor:	pointer;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.nowrap {
	white-space: nowrap;	
}


.page-header {
    padding-bottom: 9px;
    /*margin: 40px 0 20px;*/
    border-bottom: 1px solid #eee;
}

h1, h2, h3, h4, h5, h6, p{
	 display: block;
}

.form-text{
    color: #737373;
}

body  {
	font-family: Arial,Helvetica,sans-serif;	
}

.list-group-item li{
	margin:8px 0px 0px 5px;	
}

#mceu_30{
	display:none;	
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 45px;
  height: 45px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 25px;
}
